.footer__list {
    list-style: none;
    margin: 0;
    display: flex;
    padding: 0;
}

@media screen and (min-width:320px) and (max-width:767px) {
    .footer__list {
         flex-direction: column;
    }
}
 
@media screen and (max-width:320px) {
    .footer__list {
         flex-direction: column;
    }
}