.places__item {
    display: grid;
    gap: 40px;
    grid-template-areas:
    "title web"
    "img text"
    "img text";
    margin-top: 80px;
}

@media screen and (min-width:320px) and (max-width:767px) {
    .places__item {
        grid-template-areas:
        "title"
        "web"
        "img"
        "text";
        margin-top: 50px;
    }
}

@media screen and (max-width:320px) {
    .places__item {
        grid-template-areas:
        "title"
        "web"
        "img"
        "text";
        margin-top: 50px;
    }
}